<div class="vehicle-detail-container">
  <mat-card class="vehicle-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img *ngIf="vehicle" mat-card-image
             src="assets/images/{{vehicle.model|lowercase}}.jpg"
             alt="Photo of a {{vehicle.model|lowercase}}">
      </div>
      <mat-card-title>{{vehicle?.make}} {{vehicle?.model}} ({{vehicle?.year}})</mat-card-title>
      <mat-card-subtitle>{{vehicle?.vin}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-tab-group>
    <mat-tab label="Vehicle Locations">
      <agm-map
        *ngIf="markers.length > 0"
        [latitude]="markers[0].latitude"
        [longitude]="markers[0].longitude"
        [zoom]="3"
        [disableDefaultUI]="false"
        [zoomControl]="false">

        <agm-marker
          *ngFor="let m of markers; let i = index"
          [latitude]="m.latitude"
          [longitude]="m.longitude"
          [markerDraggable]="false">
        </agm-marker>

      </agm-map>
    </mat-tab>
    <mat-tab label="Vehicle Signals">
      <div class="vehicle-signal-tab">
        <mat-grid-list cols="4" rowHeight="100px">
          <mat-grid-tile
            colspan="4"
            rowspan="1">
            <mat-form-field>
              <mat-select placeholder="Vehicle Signal" (selectionChange)="onSignalSelect($event)" [(value)]="selectedVehicleSignal">
                <mat-option *ngFor="let readingField of readingsFields" [value]="readingField.value">
                  {{readingField.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Time Range" (selectionChange)="onTimeRangeSelect($event)" [(value)]="selectedTimeRange">
                <mat-option *ngFor="let range of timeRange" [value]="range.value">
                  {{range.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <h2 *ngIf="markers.length === 0">
        There are no vehicle location available at this moment. Please try again later.
      </h2>

      <div *ngIf="!chartData">
        <h4>Please select Vehicle Signal to render chart.</h4>
      </div>
      <ngx-charts-line-chart
        *ngIf="chartData"
        [view]="view"
        [scheme]="colorScheme"
        [results]="chartData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale">
      </ngx-charts-line-chart>


    </mat-tab>
    <mat-tab label="Vehicle Historical Alerts">
      <table mat-table matSort [dataSource]="historicalAlertsDataSource" style="width: 100%">
        <ng-container matColumnDef="{{column.id}}" *ngFor="let column of historicalAlertsColumns; let i = index">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}} </mat-header-cell>
          <mat-cell [attr.data-index]="i"  *matCellDef="let element"> {{element[column.id]}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
