agm-map {
  height: 60vh;
  width: 100vw;
  padding: 20px;
}

.example-card {
  max-width: 400px;
}

.mat-card-subtitle{
  text-align: left;
}

.vehicle-detail-container .vehicle-card .mat-card-image{
  margin-top: 0px;
}

.vehicle-detail-container .vehicle-card mat-card-header .mat-card-avatar{
  padding-right: 50px;
  width: 75px;
  padding-left: 25px;
}

.vehicle-detail-container .vehicle-card mat-card-header .mat-card-header-text {
  padding-left: 50px;
}

.vehicle-signal-tab mat-form-field {
  float: left;
  padding-top: 20px;
  padding-bottom: 10px;
}

.vehicle-detail-container {
  padding: 20px;
}

.vehicle-detail-container ngx-charts-line-chart {
  margin-top: 70px;
}
.vehicle-detail-container mat-grid-tile-header {
  height: 100px;
}
.vehicle-detail-container mat-form-field {
  margin-left: 20px;
}
